@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Poppins:ital,wght@0,400;0,700;1,400;1,500&family=Saira+Stencil+One&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Poppins:ital,wght@0,400;0,700;1,400;1,500&family=Sirin+Stencil&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link{
    @apply relative  font-light text-white cursor-pointer  text-[17px] w-fit md:block after:block after:content-[''] after:absolute
    after:h-[3px] after:bg-blue-400 after:bottom-[-5px] after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition 
    after:duration-300 after:origin-center
  }
/* .nav-link-mobile{
    @apply realtive mb-[2rem] font-semibold text-white cursor-pointer text-[17px] w-fit md:block after:block after:content-[''] after:absolute
    after:h-[3px] after:bg-blue-400 after:bottom-[-5px] after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition 
    after:duration-300 after:origin-center
  } */
} 
